@model DepartmentVM

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}

<div class="block-header">
  <h2>@Model.Name Update</h2>
</div>



<form asp-action="Update" asp-controller="Department" class="form-group">

    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />

    @{await Html.RenderPartialAsync("~/Views/Partials/Department/CreateEdit.cshtml");}

    <center>
        <input type="submit" value="Edit" class="btn btn-primary" />
        <a asp-action="Index" asp-controller="Department" class="btn btn-warning">Return</a>
    </center>

</form>


@section JqueryValidation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
