@model DepartmentVM 
   
    <label asp-for="Id">Department Id</label>
    <input type="text" asp-for="Id" class="form-control" readonly />
    <br />

    <label asp-for="Name">Department Name</label>
    <input type="text" asp-for="Name" class="form-control" readonly />
    <br />

    <label asp-for="Code">Department Code</label>
    <input type="text" asp-for="Code" class="form-control" readonly />
    <br />

