@model EmployeeVM


@{
    ViewData["Title"] = "Create";
}

    @section JqueryUI{
@*     <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">
*@     <link href="~/jqueryui/themes/base/jquery-ui.css" rel="stylesheet">
     }

<div class="block-header">
  <h2>Create Employee</h2>
</div>


<form asp-action="Create" asp-controller="Employee" class="form-group" enctype="multipart/form-data">

    <div asp-validation-summary="All" class="text-danger"></div>

    @{await Html.RenderPartialAsync("~/Views/Partials/Employee/CreateOrEdit.cshtml");}

    <center>
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" asp-controller="Employee" class="btn btn-warning">Return</a>
    </center>

</form>



@section JqueryValidation{
    <script src="~/jqueryui/jquery-ui.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

      <script>
          $(function(){

                $("#HireDate").datepicker();

                $("#CountryList").change(function(){
            
                    $("#CityList").empty();
                    $("#CityList").append("<option>Choose City</option>")

                    var CountryId = $("#CountryList option:selected").val();

                    $.ajax({
                
                        type:"POST",
                        url:"/Employee/GetCityDataByCountryId",
                        data:{CntryId:CountryId},
                        success:function(res){

                            $.each(res,function(i,e){
                        
                                $("#CityList").append("<option value='"+e.Id+"'>"+e.Name+"</option>")
                            });
                        }
                
                    });
                });

                $("#CityList").change(function(){

                    $("#DistrictId").empty();
                    $("#DistrictId").append("<option>Choose District</option>")

                    var CityId = $("#CityList option:selected").val();

                    $.ajax({
                
                        type:"POST",
                        url:"/Employee/GetDistrictDataByCityId",
                        data:{CtyId:CityId},
                        success:function(res){

                            $.each(res,function(i,e){
                        
                                $("#DistrictId").append("<option value='"+e.Id+"'>"+e.Name+"</option>")
                        
                            });
                        }
                
                    });
                });

          });
      
      </script>
}